.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(32, 32, 32);
}

.todo-item p {
  margin: 0;
  font-size: 1.2rem;
}

.todo-item form {
  display: flex;
  align-items: center;
}

.todo-item input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.todo-item:hover .buttons {
  display: flex;
}

.todo-item:hover .checkbox {
  display: flex;
}

.todo-item .buttons {
  display: none;
}

.todo-item .checkbox {
  display: none;
}

.todo-item button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.todo-item button:not([type="submit"]) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

.todo-item .edit:hover {
  color: #4caf50;
  cursor: pointer;
}

.todo-item .delete:hover {
  color: #f44336;
  cursor: pointer;
}

.todo-item.completed p {
  text-decoration: line-through;
}

.todo-item.completed .edit {
  display: none;
}

.checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkbox:hover .checkmark {
  background-color: #f2f2f2;
  cursor: pointer;
}

.checkbox input:checked ~ .checkmark {
  background-color: #4caf50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.right-side{
  display: flex;
  align-items: center;
  gap: 10px;
}
